<body class="inicio">
    <app-header></app-header>
    <div>
        <div class="mt-4 col-md-6 offset-md-3">
            <div class="row align-items-center mb-2">
                <div class="col">
                    <h1 class="titulos">
                        {{ titulo }}mantención
                        <app-spinner *ngIf="loading"></app-spinner>
                    </h1>
                </div>
                <div class="col"></div>
                <div class="mt-4">
                    <form [formGroup]="createMantencion" (ngSubmit)="agregarEditar()">
                        <div class="row mt-2">
                            <div class="col">
                                <label class="form-label titulos">Vehículo *</label
                >
                <select class="form-select shadow" formControlName="vehiculo">
                  <option value="" disabled selected>
                    Seleccione un vehículo
                  </option>
                  <option
                    *ngFor="let vehiculo of vehiculos"
                    [value]="vehiculo.id"
                  >
                    {{ vehiculo.patente }} -
                    {{ getMarcaNombre(vehiculo.marca) }} {{ vehiculo.modelo }}
                  </option>
                </select>
                <span
                  *ngIf="submitted && createMantencion.invalid"
                  class="badge badge-danger"
                  >Debe ingresar un vehículo para la mantención</span
                >
              </div>
              <div class="col">
                <label class="form-label titulos">Fecha *</label>
                                <input type="date" class="form-control shadow" formControlName="fecha" />
                                <span *ngIf="submitted && createMantencion.invalid" class="badge badge-danger">Debe ingresar la fecha</span
                >
              </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                  <label class="form-label titulos">Seleccione el tipo de mantención</label>
                    <div class="form-check">
                        <input
                          type="radio"
                          role="switch"
                          (change)="mostrarLegal()"
                          class="form-check-input shadow"
                          id="legal"
                          name="mantencion"
                        />
                        <label class="form-check-label titulos" for="legal">
                          Mantención Legal </label
                        ><br />
                      </div>
                      <div class="form-check ">
                        <input
                          type="radio"
                          role="switch"
                          (change)="mostrarPrev()"
                          class="form-check-input shadow"
                          id="prev"
                          name="mantencion"
                        />
                        <label class="form-check-label titulos" for="prev">
                          Mantención Preventiva </label
                        ><br />
                      </div>
                  </div>
                  
                  <div class="col mt-2" *ngIf="mostrarTipoPrev">
                    <label class="form-label titulos" >Tipo de mantención preventiva</label>
                    <select class="form-select shadow" formControlName="tipoMantencionPreventiva">
                      <option value="" disabled selected>Seleccione un tipo</option>
                      <option *ngFor="let tipoP of tipoPrev" [value]="tipoP.id">{{ tipoP.nombre }}</option>
                    </select>
                  </div>
                  
                  <div class="col mt-2" *ngIf="mostrarTipoLegal">
                    <label class="form-label titulos" >Tipo de mantención legal</label>
                    <select class="form-select shadow" formControlName="tipoMantencionLegal">
                      <option value="" disabled selected>Seleccione un tipo</option>
                      <option *ngFor="let tipoL of tipoLegal" [value]="tipoL.id">{{ tipoL.nombre }}</option>
                    </select>
                  </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <!-- Se agrega validación maxLenght para costo [EN la BD aparece de 10, acá lo deje en 9] -->
                <label class="form-label titulos">Costo *</label>
                <input class="form-control shadow" formControlName="costo" maxlength="9" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                <span
                  *ngIf="submitted && createMantencion.invalid"
                  class="badge badge-danger"
                  >Debe ingresar el costo</span
                >
              </div>
              <div class="col">
                <label class="form-label titulos"
                  >Encargado *</label
                >
                <select class="form-select shadow" formControlName="mecanico">
                  <option value="" disabled selected>
                    Seleccione un mecánico
                  </option>
                  <option
                    *ngFor="let mecanico of mecanicos"
                    [value]="mecanico.id"
                  >
                    {{ mecanico.nombre }}
                  </option>
                </select>
                <span
                  *ngIf="submitted && createMantencion.invalid"
                  class="badge badge-danger"
                  >Debe seleccionar un mecánico</span
                >
              </div>
            </div>
            <div class="mt-2">
              <label class="form-label titulos" 
                >Descripción *</label
              >
              <textarea
                class="form-control shadow"
                formControlName="descripcion"
              ></textarea>
              <span
                  *ngIf="submitted && createMantencion.invalid"
                  class="badge badge-danger"
                  >Debe ingresar una descripción</span
                >
            </div>
            <div class="row mt-2" *ngIf="mostrarTipoPrev">
              <div class="col mt-4">
                <div class="form-check form-switch">
                  <input
                    type="checkbox"
                    role="switch"
                    (change)="mostrarProximaFecha()"
                    class="form-check-input shadow"
                  />
                  <label class="form-label titulos" >
                    ¿Desea agregar una fecha para la próxima mantención? </label
                  ><br />
                </div>
              </div>
              <div class="col" *ngIf="mostrarProxFecha">
                <label class="form-label titulos" 
                  >Fecha próxima mantención</label
                >
                <input
                  type="date"
                  class="form-control shadow"
                  formControlName="fechaProxMantencion"
                />
              </div>
            </div>
            <div class="mt-3">
              <button class="btnAdd me-2 p-2">{{titulo}}</button>
              <button class="btnPrincipal p-2" routerLink="/mantenciones">Volver</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>