<body class="inicio">
    <app-header></app-header>
    <div class="col-md-6 offset-md-3">
        <div class="m-5 ">
            <div class="row align-items-center mb-2">
                <div class="col">
                    <h1 class="titulos">Lista de marcas</h1>
                </div>
            </div>

            <h4 class="mensajeTitulo mt-5" *ngIf="marcas.length == 0">No hay datos para mostrar</h4>

            <div class="table-responsive">
                <table *ngIf="marcas.length > 0" class="table mt-5 shadow rounded rounded-3 overflow-hidden" style="background: #EFEFEF;">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th scope="col">#</th>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let marca of marcas; let i = index">
                            <th scope="row">{{ i+1 }}</th>
                            <td>{{ marca.nombre }}</td>
                            <td class="text-end">
                                <button [routerLink]="['/editar-marca/',marca.id]" class="btn btn-primary me-2"><i class="fa-solid fa-pen"></i></button>
                                <button (click)="eliminarMarca(marca.id)" class="btn btn-danger me-2"><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="text-end">
                <button class="btnPrincipal p-2 shadow" routerLink="/crear-marca">Agregar nuevo</button>
            </div>
        </div>
    </div>
</body>