<body class="inicio">
    <app-header></app-header>
    <div class="m-5">
        <div class="container-fluid mb-4 p-3 shadow-lg rounded-4 bg-light">
            <h4 class="">Próximas mantenciones:</h4>
            <h4 style="color: #bbbbbb;" *ngIf="proximasMantenciones.length == 0">Sin próximas mantenciones</h4>
            <div class="row justify-content-start" *ngIf="proximasMantenciones.length > 0">
                <div class="contProxFecha col border p-3 m-2 rounded-2 shadow" *ngFor="let mantencion of proximasMantenciones">
                    <h5>{{getVehiculoPatente(mantencion.vehiculo)}} - {{getTipoPrevNombre(mantencion.tipoMantencionPreventiva)}}</h5>
                    <p>Fecha:<br> {{mantencion.fechaProxMantencion}}</p>
                </div>
            </div>
        </div>
        <div class="container-fluid mb-4 p-3 shadow-lg rounded-4 bg-light">
            <h4 class="">Lista de vehículos:</h4>
            <h4 style="color: #bbbbbb;" class="mt-5" *ngIf="vehiculos.length == 0">Aún no ingresa vehículos</h4>
            <div class="row justify-content-start">
                <div class="col ">
                    <table *ngIf="vehiculos.length > 0" class="table mt-2 shadow rounded rounded-3 overflow-hidden" style="background: #EFEFEF;">
                        <thead class="bg-dark text-white rounded-4">
                            <tr>
                                <th scope="col">Patente</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let vehiculo of vehiculos">
                                <th scope="row">{{ vehiculo.patente }}</th>
                                <td>{{ getMarcaNombre(vehiculo.marca) }}</td>
                                <td>{{ vehiculo.modelo }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>