<nav class="navbar " style="background: #112B3C;">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="inicio.html">
            <!--<img src="img/icon-mecanap.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-center">-->
            Mecan<span style="color: #F66B0E;">APP</span>
        </a>
        <form class="d-flex" role="search">
            <button class="btn btn-outline-light btn-lg me-4" routerLink="/dashboard">Inicio <i class="fa-solid fa-house"></i></button>
            <button class="btn btn-outline-light btn-lg" type="button" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i></button>
        </form>
    </div>
  </nav>
<div>