<div class="wrapper">
  <div *ngIf="!loading" class="body">
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center d-grid gap-2">
                <h1 class="mb-5">Mecan<span style="color: #F66B0E;">APP</span></h1>
                <h2 class="mb-2">Recuperar contraseña</h2>
                <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
                  <div class="form-floating mb-4">
                      <input type="email" formControlName="email" class="form-control form-control-lg" placeholder="Email"/>
                      <label>Email</label>
                      <span *ngIf="recuperarUsuario.get('email')?.hasError('required') && recuperarUsuario.get('email')?.touched" class="text-danger error-label">Debe ingresar un email</span>
                      <span *ngIf="recuperarUsuario.get('email')?.hasError('email') && recuperarUsuario.get('email')?.touched" class="text-danger error-label">El email es invalido</span>
                    </div>
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary btn-lg" [disabled]="recuperarUsuario.invalid" type="submit">Recuperar</button>
                      <hr class="my-3">
                      <button class="btn btn-outline-dark btn-lg" type="button" routerLink="/login">Volver</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
