<body class="inicio">
    <app-header></app-header>
    <div>
        <div class="m-5">
            <div class="row align-items-center mb-2">
                <div class="col">
                    <h1 class="text-white">Agregar un nuevo vehiculo</h1>
                </div>
                <div class="mt-4">
                    <form>
                        <div class="row">
                            <div class="col">
                                <label class="form-label" style="color: #EFEFEF;">Patente</label>
                                <input class="form-control">
                            </div>
                            <div class="col">
                                <label class="form-label" style="color: #EFEFEF;">Tipo</label>
                                <select class="form-select">
                                    <option selected>Seleccione un tipo</option>
                                    <option>Camion</option>
                                    <option>Bus</option>
                                    <option>Furgon</option>
                                    <option>Vehiculo</option>
                                  </select>
                            </div>
                        </div>
                        <label class="form-label mt-2" style="color: #EFEFEF;">Marca</label>
                        <select class="form-select">
                            <option selected>Seleccione una marca</option>
                            <option>Nissan</option>
                            <option>Volvo</option>
                            <option>Reanult</option>
                          </select>
                        <label class="form-label mt-2" style="color: #EFEFEF;">Modelo</label>
                        <input class="form-control">
                        <div class="row mt-2">
                            <div class="col">
                                <label class="form-label" style="color: #EFEFEF;">Precio de compra</label>
                                <input class="form-control">
                            </div>
                            <div class="col">
                                <label class="form-label" style="color: #EFEFEF;">Año</label>
                                <input class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="mt-4">
                <button class="btn me-2" style="background: #F66B0E; color: #EFEFEF;">Agregar</button>
                <button class="btn btn-outline-info" >Limpiar</button>
            </div>
        </div>
    </div>
</body>