<body class="inicio">
    <app-header></app-header>
    <div>
        <div class="m-5">
            <div class="row align-items-center mb-2">
                <div class="col">
                    <h1 class="text-white">Mantenciones de: </h1>
                </div>
                <div class="mt-4 text-white">
                    <h3>15/05/2022</h3>
                    <h5>Tipo:</h5>
                    <label>Cambio de aceite</label>
                    <h5>Costo:</h5>
                    <label>60000</label>
                    <h5>Encargado:</h5>
                    <label>Juan</label>
                    <hr class="my-3">
                </div>
            </div>
            <div class="mt-4">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-outline-light me-2">Exportar</button>
                        <button class="btn btn-outline-light me-2">Ver valor del vehiculo</button>
                    </div>
                    <div class="col text-white" style="text-align: end;">
                        <h5>total: $60000</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>