<div class="wrapper">
    <div class="body">
      <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center d-grid gap-2">
                  <h1 class="mb-5">Mecan<span style="color: #F66B0E;">APP</span></h1>
                  <h4 class="mb-2">Hemos enviado un correo para verificar tu cuenta.</h4>
                  <div class="d-grid gap-2">
                    <hr class="my-3">
                    <button class="btn btn-outline-dark btn-lg" type="button" routerLink="/login">Volver</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    </div>
  </div>
  