<body class="inicio">
    <app-header></app-header>
    <div>
        <div class="mt-4 col-md-6 offset-md-3">
            <div class="row align-items-center mb-2">
                <div class="col">
                    <h1 class="titulos">{{titulo}}un tipo de mantención
                        <app-spinner *ngIf="loading"></app-spinner>
                    </h1>
                </div>
                <div class="mt-4">
                    <form [formGroup]="createTipoMantencion" (ngSubmit)="agregarEditar()">
                        <!-- Se agrega validación maxLenght para Tipo Mantención [En la BD de 100 aca de 50]-->
                        <label class="form-label mt-4 titulos">Nombre de la mantención *</label>
                        <input class="form-control shadow" formControlName="nombre" maxlength="50">
                        <span *ngIf="submitted && createTipoMantencion.invalid" class="badge badge-danger">Debe ingresar un tipo</span>
                        <div class="mt-4">
                            <button class="btnAdd me-2 p-2">{{titulo}}</button>
                            <button class="btnPrincipal p-2" routerLink="/listar-tipo-mantencion">Volver</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>