<body class="inicio">
    <app-header></app-header>
    <div class="m-5">
      <div class="row align-items-center mb-2">
          <div class="col mb-5">
            <h1 class="text-white" >El valor de vehiculo es: $6000000</h1>
            <h4 class="text-white">DKWW90 - Ford Focus 2012</h4>
            <p class="text-white">
              El precio inicial de compra fue <span class="okMensaje">$8000000</span><br>
              Hasta la fecha actual se devaluo en <span class="errorMensaje">$2000000</span> aproximadamente.</p>
            <button class="btn btn-outline-light">Modificar datos del vehiculo</button>
          </div>
          <div class="mt-5" >
            <p style="color: #bbbbbb;">IMPORTANTE: El valor entregado es un aproximado y este puede variar segun otras especificaciones de su vehiculo.</p>
          </div>
      </div>
    </div>
</body>
  