<div class="wrapper">
  <div *ngIf="!loading" class="body">
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center d-grid gap-2">
                <h1 class="mb-5">Mecan<span style="color: #F66B0E;">APP</span></h1>
                <form (ngSubmit)="login()" [formGroup]="loginUsuario">
                  <div class="form-floating mb-4">
                      <input type="email" formControlName="email" class="form-control form-control-lg" placeholder="Email"/>
                      <label>Email</label>
                      <span *ngIf="loginUsuario.get('email')?.hasError('required') && loginUsuario.get('email')?.touched" class="text-danger error-label">Debe ingresar un email</span>
                      <span *ngIf="loginUsuario.get('email')?.hasError('email') && loginUsuario.get('email')?.touched" class="text-danger error-label">El email no es valido</span>
                    </div>
                    <div class="form-floating mb-4">
                      <input type="password" formControlName="password" class="form-control form-control-lg" placeholder="Contraseña"/>
                      <label>Contraseña</label>
                      <span *ngIf="loginUsuario.get('password')?.hasError('required') && loginUsuario.get('password')?.touched" class="text-danger error-label">Debe ingresar una contraseña</span>
                    </div>
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary btn-lg" [disabled]="loginUsuario.invalid" type="submit">Iniciar sesion</button>
                      <hr class="my-3">
                      <button class="btn btn-outline-dark btn-lg" type="button" routerLink="/registrar-usuario">Registrarse</button>
                      <a class="" routerLink="/recuperar-password">Recuperar contraseña</a>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
