<body class="inicio">
    <app-header></app-header>
    <div>
        <div class="m-5">
            <div class="row align-items-center mb-2">
                <div class="col">
                    <h1 class="text-white">Agregar una nueva marca</h1>
                </div>
                <div class="mt-4">
                    <form>
                        <label class="form-label mt-4" style="color: #EFEFEF;">Nombre de la marca</label>
                        <input class="form-control">
                    </form>
                </div>
            </div>
            <div class="mt-4">
                <button class="btn me-2" style="background: #F66B0E; color: #EFEFEF;">Agregar marca</button>
                <button class="btn btn-outline-info" >Limpiar</button>
            </div>
        </div>
    </div>
</body>